.add-new-board-container {
    background-color: rgba(128, 128, 128, 0.18);
    border-radius: 5px;
    padding: 20px;

    label {
        font-size: 1.3rem;
        font-weight: 600;
    }

    input {
        display: block;
        width: 100%;
        font-size: 1.2rem;
        margin: 10px auto 20px;
        border: none;
        padding: 10px;
        text-align: left;
        max-width: 350px;
        border-radius: 3px;
        color: rgba(0, 0, 0, 0.66);

        &:focus {
            background-color: rgba(152, 245, 152, 0.105);
            color: rgb(0, 0, 0);

        }
    }

    button {
        display: block;
        margin: 0 auto;
        border: 0;
        background-color: $green-label;
        color: rgb(237, 237, 237);
        padding: 10px;
        width: 80px;
        border-radius: 3px;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: $green-label-hover;
        }
    }
}